@import "variables";
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .similar {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 20px 0 30px 30px;
        
        > div {
            width: 200px;
        }
        
    }
}